.skills_contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;

  &_inner_content {
    flex: 1;
    flex-direction: column;
    text-align: center;

    &_category-name {
      display: inline-block;
      color: var(--yellow-theme-main-color);
      font-size: 22px;
      font-weight: 700;
      line-height: 1rem;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: uppercase;
      padding: 5px 10px;
      border-bottom: 2px solid var(--yellow-theme-main-color);
    }

    &_category-name::before, &_category-name::after{
      position: absolute;
      content: '';
      width: 2px;height: 5px;
      background-color: var(--yellow-theme-main-color);
      bottom: -1px;
    }

    &_category-name::before{
      left: 0;
    }
    &_category-name::after{
      right: 0;
    }
    &_progrssbar-container{
      width: 100%;
    }

    .skill-prograssbar{
      padding: 50px 0px 0px 0px;

      p{
        font-size: 1.6rem;
        margin: 0 0 10px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--yellow-theme-sub-text-color);
      }
    }
  }
}

@media only screen and (max-width : 768px){
  .skills_contentWrapper{
    flex-direction: column;
  }

  .skills_contentWrapper_inner_content_progrssbar-container{
    margin-bottom: 20px;
  }
}